@import '../../vars.css';

.container {
    color: var(--color-text);
    background-color: rgb(25, 47, 88);
    margin-top: 120px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100vw;
    padding: 58px 10%;
}

.content a {
    color: var(--color-text);
    text-transform: lowercase;
    text-decoration: none;
}

.titles h2 {
    font-size: 80px;
    font-weight: 700;
    letter-spacing: 4px;
}

.titles p {
    font-size: 40px;
    font-weight: 300;
    letter-spacing: 2px;
}

.links{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    list-style: none;
    gap: 26px;
}
.item {
    display: flex;
    align-items: center;
    gap: 23px;
}

.item a {
    color: var(--color-text);
    text-decoration: none;
    font-size: 25px;
    font-weight: 400;
    letter-spacing: 1.5px;
}


@media screen and (max-width: 830px) {
    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .titles {
        display: none;
    }
}