* { 
  box-sizing: border-box; 
  margin: 0; 
  padding: 0; 
  font-family: "outfit", Arial, Helvetica, sans-serif; 
} 

html { 
  scroll-behavior: smooth; 
}

@media (max-width: 830px) {
  html, body { overflow-x: clip; }
}